
.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter-color{
    font-weight: 34px;
}
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-color{
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-align: center;   
}
button{
  color: white;
  background-color: #4E47FF;
  border: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
}
.sign{
  width: 132px;
  height: 48px;
}
.stay-focused{
  width: 174px;
  height: 48px;
}
.launch{
  width: 229px;
  height: 48px;
  /* padding: 36px 12px; */
  gap: 10px;
  font-weight: 700;
}

.logo{
color: #4E47FF;
font-size: 34px;
font-weight: ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 158px 150px;
}
nav a{
    text-decoration: none;
}
.divi{
  text-align: center;
}
.images{
  background-image: url(../Assets/Hero-bg.png);
}
.ui{
  font-size: 65px;
  font-weight: 700;
}
.see{
  font-size: 42px;
  font-weight: 700;
  color: #252432;
}
.look{
  color: #25243280;
  font-weight: 400;
  font-size: 24px;
  font-weight: 400;
}
.text-pic{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 116px 160px 158px 140px;
}
.wc-mini{
  height: 328px;
  width: 403px;
  border-radius: 48px;
}